<!--<body >
 
    <div class="form-area">
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
         <p>Email</p>
         <input type="text" name="username" ngModel=""  id="" placeholder="entrer votre email" required/>
  
         <p>Mot de passe</p>
       
         <input type="password" name="password" ngModel=""  placeholder="entrer votre mot de passe"required />
         <button type="submit">Login</button>
        </form>
        </div>
        
  </body>-->
  <body>
   <div class="container">
    <div class="wrapper">
        <div class="header-text">Bienvenue</div>
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <input type="text"  name="username" ngModel="" placeholder="Your Email Address" required>
        <input type="password"   name="password" ngModel="" placeholder="Your Password" required>
        <button  type="submit">Login</button>
        </form>
    </div>      
</div>
</body>
