<div class="container">
    <div class="container">
        <div class="row " >
            <div class="col-lg-2 col-12">
                <app-nemu-bar></app-nemu-bar>
            </div>
            <div class="col-lg-10 col-12">
    <form #form="ngForm">
        <h1>Versement</h1>
        <input class="input"  type="text" placeholder="Compte Destination (RIB / CIN)">
        <input class="input"  type="number" min="0" placeholder="Montant">
        <button type="submit" class="submit">Valider</button>

    </form>
    
</div>
</div>
</div>



