<app-nemu-bar></app-nemu-bar>
<br>
    <div class="card" style="margin-left: 30%;">
      <div class="card__container">
          <h1 class="card__header">
         Virement
        </h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
     
            <!-- {{form.value | json}} -->
            
            <input [(ngModel)]="newOperation.compteDestination.rib" name="compteDestination"
             class="input" type="text" placeholder="Compte Destination (RIB / CIN)">
    
            <input [(ngModel)]="newOperation.montant" name="montant"
             class="input" type="number" min="0" placeholder="Montant"><br>
   
            <button type="submit" class="submit">Valider</button>
    
            <!-- {{newOperation | json}} -->
        </form>   
      </div>
    </div>
    



