<!--
<div class="spacer component-container">
    <div class="panel panel-primary">
      
        <div class="panel-heading search">
           <input type="search" placeholder="search ... " [(ngModel)]="motif">
           <i style="position: absolute; left: 62%; top:-10% ;cursor: pointer;" ><img src="../assets/images/search.png" ></i>
        </div>
        

        <div class="panel-body">
           
              <br>
            <table class="table table-striped">
                <tr>
                    <th>N° d'opération</th>
                    <th>Type</th>
                    <th>Date d'Opération</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Montant</th>                    
                </tr>
                  <tr *ngFor="let o of pageOperation">
                    <td>{{o.numOperation}}</td>
                    <td>{{o.typeOperation}}</td>
                    <td>{{o.dateOperation}}</td>
                    <td *ngIf="o.compteSource!=null; else elseTag">
                        {{o.compteSource.numCompte}}</td>
                    <ng-template #elseTag><td>-</td></ng-template>
                    <td *ngIf="o.compteDestination!=null; else elseTag">
                        {{o.compteDestination.numCompte}}</td>

                    <td>{{o.montant | number: '.2'}} MAD</td>
                    <td>
                       
                        <a href=""> <img src="../assets/images/detail.png"   title="detail" class="img-responsive"></a>

                    </td>
                </tr>
            </table>
        

          
            
        </div>
    </div>
</div>-->
<app-nemu-bar></app-nemu-bar>
<div class="container">
    
     
   
  
   
    <div id="data" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Date d'operation</th>
                <th>Type operation</th>
                <th>Compte destination</th>
                <th>Montant</th>
              
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of pageOperation">
                    <td>{{o.dateOperation|date:'MM/dd/yyyy'}}</td>
                    <td>{{o.typeOperation}}</td>
                   
              
                   
                    <td *ngIf="o.compteDestination!=null; else elseTag">
                        {{o.compteDestination.rib}}</td>
                        <ng-template #elseTag><td style="color: tomato;font-style: italic;">-Mon compte</td></ng-template>
                    <td>{{o.montant | number: '.2'}} MAD</td>
                   
                </tr>
           
            </tbody>
        </table>
    </div>
    
    </div>