<div class="container">
    <!--<div class="container">
        <div class="row " >
            <div class="col-lg-2 col-12">
                <app-nemu-bar></app-nemu-bar>
            </div>
            <div class="col-lg-10 col-12">
    <div class="panel panel-primary">
       
       <div class="panel-heading search">
           <input type="search" placeholder="search ... " [(ngModel)]="motCle">
           <i style="position: absolute; left: 62%; top:-10% ;cursor: pointer;" ><img src="../assets/images/search.png" ></i>
        </div>
        

        <div class="panel-body">
           
              <br>
            <table class="table table-striped">
                <tr>
                    
                    <th>Type opération</th><th>Num opération</th><th>date opération</th><th>Compte Source</th><th>Compte Destination</th><th>Montant</th><th>Agent</th>
                </tr>
                  <tr *ngFor="let op of pageOperation">
                    <td>{{op.typeOperation}}</td>
                    <td>{{op.numOperation}}</td>
                    <td>{{op.dateOperation}}</td>
                    <td>{{op.compteSource.numCompte}}</td>
                    <td>{{op.compteDestination.numCompte}}</td>
                    <td>{{op.montant}}</td>
                    <td>{{op.agent.idAgent}}</td>

                  
                </tr>
            </table>
        

        </div>
        </div>  
            
        </div>
    </div>
</div>-->
<div id="body">
    <app-nemu-bar></app-nemu-bar>
<div class="route">
    <div  class="content">
     <!-- <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">-->
      <table class="table table-striped" >
        <thead style="color: #FF4500; font-weight: bolder; font-style: italic;">
          <tr>
            <th>Type opération</th>
            <th>Num opération</th>
            <th>date opération</th>
            <th>Compte Source</th>
            <th>Compte Destination</th>
            <th>Montant</th>
            <th>Agent</th>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor="let op of pageOperation">
                <td>{{op.typeOperation}}</td>
                <td>{{op.numOperation}}</td>
                <td>{{op.dateOperation}}</td>
                <td>{{op.compteSource.numCompte}}</td>
                <td>{{op.compteDestination.numCompte}}</td>
                <td>{{op.montant}}</td>
                <td>{{op.agent.idAgent}}</td>

              
            </tr>
        </tbody>
      </table>
    </div>
  </div>
