
 <div class="sidebar">
        <header>Name of App</header>
        <div style="background-color: black;"></div>
<nav class="main-nav">
    <ul class="main-nav-ul">
    
       
        <li><a routerLink="/compte" routerLinkActive="currentTab" router> Compte<span class="sub-arrow"></span></a>
            <ul class="sub-menu">
                <li><a routerLink="/compte/courant" routerLinkActive="currentTab">Compte Courant</a></li>
               
            </ul>
        </li>
        <li><a routerLink="/operations" routerLinkActive="currentTab" router>Operation <span class="sub-arrow"></span></a>
        <ul class="sub-menu">
            <li><a routerLink="/operations/liste" routerLinkActive="currentTab">Liste Operation</a></li>
            <li><a routerLink="/operations/recharge" routerLinkActive="currentTab">Recharge</a></li>
            <li><a routerLink="/operations/virement/externe" routerLinkActive="currentTab">Virement Externe</a></li>
           
        </ul>
        </li>

        
        <li><a routerLink="/contact" routerLinkActive="currentTab">Contactez Nous</a></li>
           
    </ul>
</nav>
</div>


