
<!--<div class="sidebar">
        <header>Name of App</header>
        <div style="background-color: black;"></div>
<nav class="main-nav">
    <ul class="main-nav-ul">
    
       
        <li><a routerLink="/compte" routerLinkActive="currentTab" router> Compte<span class="sub-arrow"></span></a>
            <ul class="sub-menu">
                <li><a routerLink="/compte/courant" routerLinkActive="currentTab">Compte Courant</a></li>
               
            </ul>
        </li>
        <li><a routerLink="/operations" routerLinkActive="currentTab" router>Operation <span class="sub-arrow"></span></a>
        <ul class="sub-menu">
            <li><a routerLink="/operations/liste" routerLinkActive="currentTab">Liste Operation</a></li>
            <li><a routerLink="/operations/recharge" routerLinkActive="currentTab">Recharge</a></li>
            <li><a routerLink="/operations/virement/externe" routerLinkActive="currentTab">Virement Externe</a></li>
           
        </ul>
        </li>

        
        <li><a routerLink="/contact" routerLinkActive="currentTab">Contactez Nous</a></li>
           
    </ul>
</nav>
</div>-->


<head>
  
  <!-- Font Awesome Import -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
</head>


  <div class="app">
    <div class="top">
      <div class="menu">
        <button class="menu-button"  routerLink="/acceuil"><i class="fas fa-university fa-3x" ></i></button>
        <button class="menu-button" routerLink="/operations/liste" title="Mes opérations"><i class="fas fa-exchange-alt fa-3x"  ></i></button>
        <button class="menu-button" routerLink="/operations/recharge" title="Recharge"><i class="fas fa-wallet fa-3x" ></i></button>
        <button class="menu-button" routerLink="/operations/virement/externe" title="Virement"><i class="fas fa-credit-card fa-3x"></i></button>
      </div>
    </div>
    
 <!---->

  
  </div>
 


