.container{ 
    width: 100%;
    height: 100%;
    /*background-color: red; 
    border: solid 2px cyan;*/      
  }
  
  .input{
    background:transparent;
    border:0;
    border-bottom: 2px solid #042331;
    padding: 5px;
    color:black;
    width: 300px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  
  .submit{
    display: inline-block;
    background: #042331; 
    border-radius: 15px;
    height: 40px;
    width: 100px;
    color: white;
  }
  
  .submit:hover{
    background: #063146;
    transform: scale(1.05);
  }
  
  
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  #body{
    width: 100%;
    height: 100vh;
  }
  
  .route{
  
    position: absolute;
    top: 15%;
    left: 20%;
    width: 80%;
    /*height: 100vh;*/
    
  }