<app-nemu-bar></app-nemu-bar>
<div class="component-container"> 
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h1>Virement Interne</h1>
        <!-- {{form.value | json}} -->
        <!-- <input [(ngModel)]="newOperation.compteSource.numCompte" name="compteSource"
         class="input" type="text" placeholder="Compte Source (RIB / CIN)">

        <input [(ngModel)]="newOperation.compteDestination.numCompte" name="compteDestination"
         class="input" type="text" placeholder="Compte Destination (RIB / CIN)"> -->
         <div>
            <select name="operation-interne" id="operation-interne" class="form-control">
                <option value="0">A/ Compte Courant => Compte Epargne</option>
                <option value="1">B/ Compte Epargne => Compte Courant</option>
            </select>
         </div>

         <input [(ngModel)]="newOperation.montant" name="montant"
         class="input" type="number" min="0" placeholder="Montant">

        <button type="submit" class="submit">Valider</button>

        <!-- {{newOperation | json}} -->
    </form>   
</div>


