<!--<div class="container"> 
    <div class="container">
        <div class="row " >
            <div class="col-lg-2 col-12">
                <app-nemu-bar></app-nemu-bar>
            </div>
            <div class="col-lg-10 col-12">
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h1>Virement</h1>
        {{form.value | json}} 
        <input [(ngModel)]="newOperation.compteSource.numCompte" name="compteSource"
         class="input" type="text" placeholder="Compte Source (RIB / CIN)">

        <input [(ngModel)]="newOperation.compteDestination.numCompte" name="compteDestination"
         class="input" type="text" placeholder="Compte Destination (RIB / CIN)">

        <input [(ngModel)]="newOperation.montant" name="montant"
         class="input" type="number" min="0" placeholder="Montant">

        <button type="submit" class="submit">Valider</button>

        {{newOperation | json}}
    </form>   
</div>
</div>
</div>-->


