
/*.content{
    /*position: absolute;
    left: 10%;
    top:8%;
    
    width: 70%;
    margin: 20px auto;
   
   
    

}
.search{
  
  width: 70%;
  margin: 20px auto;

}

.title{
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  color: #042331;
  text-align: center;
  margin-top: 2%;
}


.title{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
   margin-left: 290px;
}



input{
 
  border: none;
  
    border-bottom:solid gray 1px;
    
    width:40%; 
    /*position: absolute;
    left: 20%;
    top:-10%
    
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.head{
    
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  color: #042331;
  text-align: center;
  margin-top: 2%;
}*/
/*
.content-area{

  margin-top: 8%;
  margin-left: 15%;
  width: 90%;
  height: 100vh;
}



.content{
  margin-left: 15%;
  width:100%;
  margin-top: 5%;
  overflow: auto;
   height: 100%;
  }

   

input{

  border: none;
  border-bottom:solid gray 1px;
  width:20%; 
 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



**/




input{

  border: none;
  border-bottom:solid gray 1px;
  width:20%; 
 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


