<!--<div class="container">
    <app-logout></app-logout>
    <div class="row " >
        <div class="col-lg-2 col-12">
            <app-nemu-bar></app-nemu-bar>
        </div>
        <div class="col-lg-10 col-12">
           
  <div class="content">-->

 <!-- <div class="head">Liste des clients </div>-->

 <!-- <div class="search">
      <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">-->
      <!--<img (click)="recherche()" style="cursor: pointer;" src="../assets/images/search.png" >-->
  <!--</div>

       <div class="panel-body">
           
              <br>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Cin</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Date Naissance</th>
                </tr>
                  <tr *ngFor="let c of pageClient">
                    <td>{{c.id}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.prenom}}</td>
                    <td>{{c.cin}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.numTel}}</td>
                    <td>{{c.dateNaissance}}</td>
                    <td style="cursor: pointer;">
                       <a  (click)="onDeleteClient(c)"> <img src="../assets/images/delete.png"   title="delete" class="img-responsive"></a>
                       &nbsp; <a (click)="onEditClient(c.id)"> <img src="../assets/images/update.png"   title="update" class="img-responsive"></a>
                       &nbsp; <a (click)="onDetailClient(c.id)"> <img src="../assets/images/detail.png"   title="detail" class="img-responsive"></a>

                    </td>
                    
                  
                </tr>
            </table>-->

     
          <!--<nav class="pagination-container">
                <div class="pagination">
                        <a class="pagination-newer" href="#">PREV</a>
                        <span class="pagination-inner" *ngFor="let p of pages;let i=index">
                            <a  (click)="gotoPage(i)">{{i}}</a>
                        </span>
                        <a class="pagination-older" href="#">NEXT</a>
                </div>
        </nav>-->
       
            
      <!--  </div>
    </div>
    <br>-->
    <!--<div  style="margin-left: 400px;">
       
        <a   *ngIf="!(this.page == 0)" (click)="goPrevious()" class="previous round pagePrevious">&#8249;</a>
        {{this.page+1}}/{{this.pages}}
        <a *ngIf="!(this.page == this.pages-1)" (click)="goNext()"  class="next round pageNext">&#8250;</a>
    </div>-->
<!--</div>
</div>
</div>-->
<!--
<div class="container">
    <div class="row" >
        <div class="col-lg-2 col-12">
            <app-nemu-bar></app-nemu-bar>
        </div>
        <div class="col-lg-10 col-12">
            <div class="search">
                <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">
            </div>
    <table class="table table-striped">
      <thead >
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Cin</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Date Naissance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of pageClient">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.cin}}</td>
            <td>{{c.email}}</td>
            <td>{{c.numTel}}</td>
            <td>{{c.dateNaissance}}</td>
            <td style="cursor: pointer;">
               <a  (click)="onDeleteClient(c)"> <img src="../assets/images/delete.png"   title="delete" class="img-responsive"></a>
               &nbsp; <a (click)="onEditClient(c.id)"> <img src="../assets/images/update.png"   title="update" class="img-responsive"></a>
               &nbsp; <a (click)="onDetailClient(c.id)"> <img src="../assets/images/detail.png"   title="detail" class="img-responsive"></a>

            </td>
            
          
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
-->
<!--
<div class="container">
  
  <app-nemu-bar></app-nemu-bar>
  
  <section class="content-area" >
    <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">
    <div class="table-area">
      <table class="responsive-table table">
        
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Cin</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Date Naissance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of pageClient">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.cin}}</td>
            <td>{{c.email}}</td>
            <td>{{c.numTel}}</td>
            <td>{{c.dateNaissance}}</td>
            <td style="cursor: pointer;">
               <a  (click)="onDeleteClient(c)"> <img src="../assets/images/delete.png"   title="delete" class="img-responsive"></a>
               &nbsp; <a (click)="onEditClient(c.id)"> <img src="../assets/images/update.png"   title="update" class="img-responsive"></a>
               &nbsp; <a (click)="onDetailClient(c.id)"> <img src="../assets/images/detail.png"   title="detail" class="img-responsive"></a>

            </td>
            
          
        </tr>
        </tbody>
      </table>
    </div>
  </section>-->
  <div id="body">
    <app-nemu-bar></app-nemu-bar>

    <div class="route">
      <div  class="content">
        <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">
        <table class="table table-striped" >
          <thead style="color: #4babc0; font-weight: bolder; font-style: italic;">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Date Naissance</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let c of pageClient">
                <td>{{c.id}}</td>
                <td>{{c.nom}}</td>
                <td>{{c.prenom}}</td>
                <td>{{c.cin}}</td>
                <td>{{c.username}}</td>
                <td>{{c.numTel}}</td>
                <td>{{c.dateNaissance | date:'dd/MM/yyyy'}}</td>
                <td style="cursor: pointer;">
                   <a  (click)="onDeleteClient(c)"> <img src="../assets/images/delete.png"   title="delete" class="img-responsive"></a>
                   &nbsp; <a (click)="onEditClient(c.id)"> <img src="../assets/images/update.png"   title="update" class="img-responsive"></a>
                 
    
                </td>
                
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <!--
<div class="row">
  <app-nemu-bar></app-nemu-bar>
  <div  class="content">
    <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">
    <table class="table table-striped ">
      <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Cin</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Date Naissance</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let c of pageClient">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.cin}}</td>
            <td>{{c.email}}</td>
            <td>{{c.numTel}}</td>
            <td>{{c.dateNaissance}}</td>
            <td style="cursor: pointer;">
               <a  (click)="onDeleteClient(c)"> <img src="../assets/images/delete.png"   title="delete" class="img-responsive"></a>
               &nbsp; <a (click)="onEditClient(c.id)"> <img src="../assets/images/update.png"   title="update" class="img-responsive"></a>
               &nbsp; <a (click)="onDetailClient(c.id)"> <img src="../assets/images/detail.png"   title="detail" class="img-responsive"></a>

            </td>
            
          
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

